/* General container of header */
.header-container {
	max-height: 100px;
	background-color: #dcd0c1;
}

/* Container of logo img */
.header-logo-container {
	height: 100px;
	width: auto;
	display: flex;
	align-items: center;
}

/* Graphic Logo */
.header-logo {
	height: 100%;
	width: auto;
}

/* Script Logo */
.header-logo-full {
	height: 40%;
	width: auto;
}

/* Toggler Mobile */
.header-toggle {
	border: 0 !important;
	color: white !important;
	width: 60px !important;
}
.header-toggle:focus {
	box-shadow: none !important;
}

/* Rotate animation inactive */
.header-toggle-base {
	transform: rotate(0deg);
	transition: 0.5s;
}

/* Rotate animation active */
.header-toggle-rotate {
	transform: rotate(-90deg);
	transition: 0.5s;
}
/* Bar of toggler */
.icon-bar {
	display: block;
	width: 100%;
	height: 5px;
	margin-top: 5px;
	background-color: #fff;
	box-shadow: 5px 5px 15px grey;
}



/* Link of Navbar */
.header-text {
	font-weight: bold;
	color: #647f94 !important;
	font-family: 'Dosis SemiBold';
	transition: 0.2s;
	font-size: 1.5em;
	text-align: center;
}

/* Link container of Navbar */
.header-link-container {
	justify-content: center;
	width: 100%;
}

/* Hover link of Navbar */
.header-text:hover {
	font-weight: bold;
	color: #4f6575 !important;
	text-decoration: underline;
	text-decoration-style: dotted;
	cursor: pointer;
	transition: 0.2s;
}

/* Search button for Form */
.header-btn {
	background-color: #647f94 !important;
	color: white;
	border-color: #647f94 !important;
	border-radius: 20px !important;
	box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5);
	height: 40px;
	font-size: 1.2em !important;
}

.header-btn-go {
	width: 60px;
}

.header-btn-connexion div span {
	font-size: 1.2em;
}
.dropdown-item a, .dropdown-item span{
	font-size: 1.2em;
}
/* Dropdown Nav Mobile */
#navbarScroll {
	background-color: white;
	padding: 15px;
}

/* Search input in Form */
.header-search-input {
	font-family: 'Dosis Regular';
	font-size: 1.2em !important;
	height: 30px !important;
	border-radius: 30px !important;
	border-color: rgb(146, 146, 146) !important;
	color: black !important;
	padding-left: 20px !important;
}
.dropdown-menu[data-bs-popper]{
	position: absolute;
	width: 100%;
	text-align: center;
}
/* Media query for > large screen */
@media (min-width: 992px) {
	#navbarScroll {
		background-color: #dcd0c1;
		padding: 0;
	}
	.header-search-input {
		height: 40px !important;
		padding-left: 50px !important;
	}
	.header-form {
		width: 50%;
	}
	.header-link-container {
		justify-content: space-evenly;
		width: 50%;
	}
}
