#homeBanner {
    width: 100%;
}

#filters {
    background-color: #ECE6DE;
}

.card {
    width: 18rem;
    border-radius: 20px;
}


.card-title {
    color: #647f94;
    font-weight: bold
}

.card-text {
    text-overflow: ellipsis;
        overflow: hidden;
        display: -webkit-box;
        -webkit-line-clamp: 3;
        -webkit-box-orient: vertical;
}

.price {
    font-size: 2em;
}

.location{
    font-size: 0.7em;
}

.dropBtn{
    background: #647f94 !important;
    border: 1px solid #647f94 !important;
}

.dropMenu{
    border: 1px solid #647f94;
}