.homeBanner {
    background-image: url('../assets/back.webp');
    background-size: contain;
    background-repeat: no-repeat;
    background-position: right;
    background-color: #e3e3e3;
    min-height: 600px;
    height: 100%;
    width: 100%;
}
.homeBanner p{
    font-size: 1.8rem;
    color: #647f94;
    font-weight: bold;
    margin-left: 50px;
    padding-top: 20px;
}
.BtnBanner{
    font-size: 1.8rem !important;
    width: auto;
    height: auto;
}


#filters {
    background-color: #ECE6DE;
    border-radius: 30px;
}

.card {
    width: 18rem; 
    border-radius: 30px;
    box-shadow: 1px 1px 5px rgba(91, 91, 91, 0.349);
}

.card img{
    border-top-left-radius: 30px;
    border-top-right-radius: 30px;

}


.card-title {
    color: #647f94;
    font-weight: bold;
    font-size: 1.4rem;
}

.card-text {
    font-size: 1.15rem;
    text-overflow: ellipsis;
    overflow: hidden;
    display: -webkit-box;
    -webkit-line-clamp: 3;
    -webkit-box-orient: vertical;
}

.price {
    font-size: 2em;
}

.location{
    font-size: 0.7em;
}

.dropBtn{
    background: #647f94 !important;
    border: 1px solid #647f94 !important;
}

.dropMenu{
    border: 1px solid #647f94;
}

/* Search button for Form */
.custom-btn {
	background-color: #647f94 !important;
	color: white !important;
	border-color: #647f94 !important;
	border-radius: 20px !important;
	box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.5);
	height: 40px;
	font-size: 1.2em !important;
    display: flex;
    align-items: center;
    justify-content: center;
}

.custom-btn:hover {
	background-color: #3a4f5f !important;
}

.section-cro{
    width: 100%;
    overflow: hidden;
    min-height: 560px;
    margin: 50px 0px;
    background: url('../assets/bg-cro.jpg') no-repeat center center transparent;
    background-attachment: fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
    -ms-filter: "progid:DXImageTransform.Microsoft.AlphaImageLoader(src='', sizingMethod='scale')";
    position: relative;
}

.croCorps{
    font-size: 20px;
    color: white;
}

.themTitle {
    font: 300 1.5em/1em 'Josefin Sans', Arial, Verdana, Helvetica, helve, sans-serif;
    letter-spacing: 1px;
    color: #4b4b4b;
    margin-bottom: 50px;
    text-transform: initial;
    text-align: center;
}

.themTitle h1 {
    font: 300 1.5em/1em 'Dosis', Arial, Verdana, Helvetica, helve, sans-serif;
    letter-spacing: 1px;
    color: #4b4b4b;
    margin: 0;
    padding: 10px 0;
    margin-bottom: 10px;
    display: inline-block;
    border-bottom: 1px solid #ffffff;
    position: relative;
}

.themTitle h1:after {
    content: "";
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 20px 20px 0 20px;
    border-color: #ffffff transparent transparent transparent;
    position: absolute;
    top: 100%;
    left: 50%;
    margin-left: -20px;
}